.header{
	background: #FFFFFF;
	box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
	padding: 21px 10px 0 10px ;
	margin-bottom: 58px;
	width: 100%;
}

.container{
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
}

.top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.user{
	display: flex;
	align-items: center;
}

.user__name{
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #3E3F58;
	margin-right: 20px;
}

.user__avatar{
	margin-right: 12px;
}

.user__hidden{
	transform: rotate(180deg);
	margin-right: 17px;
	cursor: pointer;
}

.user__hidden:hover{
	transform: rotate(0deg);
	transition-duration: 0.8s;
}

.socials{
	display: flex;
	margin-right: -5px;
}

.navigation{
	display: flex;
	gap: 39px;
	height: 39px;
}

.navigation__link{
	font-size: 14px;
	text-transform: uppercase;
	color: #3E4056;
	opacity: 0.6;
	position: relative;
}

.navigation__link:hover {
	opacity: 1;    
}

.navigation__link:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 4px;
	background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
}

.navigation__link:hover:before {
	width: 100%;
}

.button{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	margin-right: -5px;
	cursor: pointer;
}

.button:before, .button::after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.82px;
	height: 20px;
	background: #FFFFFF;
	transform: translate(-50%, -50%);
}

.button::after{
	transform: translate(-50%, -50%) rotate(90deg);
}
